<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class ="container">
    <div class = "row">
        <h1> Personen Listing </h1>
    </div>
    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/personenverwaltung/erstellen}" class = "btn btn-primary btn-sm mb-3">Peron hinzufügen</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Geschlecht</th>
            <th>Geburtstag</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "person: ${personenverwaltung}">
            <td th:text = "${personenverwaltung.firstName}"></td>
            <td th:text = "${personenverwaltung.lastName}"></td>
            <td th:text = "${personenverwaltung.email}"></td>
            <td th:text = "${personenverwaltung.gender}"></td>
            <td th:text = "${personenverwaltung.geschlecht}"></td>

            <td>
                <a th:href = "@{/personenverwaltung/editieren/{id}w(id=${personenverwaltung.id})}"
                   class = "btn btn-primary">Update</a>
                <a th:href = "@{/personenverwaltung/{id}(id=${personenverwaltung.id})}"
                   class = "btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>